<main id="main" class="main">
  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <!-- <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol> -->
    </nav>
  </div>
  <section class="section dashboard">
    <div class="container mt-3 text-center">
      <!-- <h2>Dashboard</h2> -->
      <div class="new-logo">
        <img
          class="img-responsive"
          src="assets/img/new_logo.png"
          alt="Main logo"
          height="400px"
          width="350px"
          style="margin: 0 auto"
        />
      </div>
      <div class="mt-4 p-5 bg-primary text-white rounded">
        <!-- <h1 class="text-center">Welcome to SpringUp <span>Kutumba</span></h1> -->
        <span class="text-center">Welcome to SpringUp Kutumba</span>
      </div>
    </div>
  </section>
</main>
